/*
Color palette:
navbar: #9db0ce
background: #f0f8ff
fonts: #535878
clouds: #fff
pink stuff (from dark to light): #cea0aa, #e9c2c5, #fee1dd
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: #9db0ce;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 90px;
    z-index: 1;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 auto;
}

/* hashtags # reference to id */
#navbar__logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#name_logo {
    width: 400px;
    height: auto;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: None;
}

.navbar__item{
    float: left;
}

.navbar__links{
    color: #535878;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 200px; */
    margin-inline: 22px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

/* below is for buttons in the future
.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: None;
    outline: None;
    border-radius: 4px;
    background: #80a0ce;
    background: -webkit-linear-gradient(to right, #535878, #9db0ce, #b8d8e3, #e9c2c5, #cea0aa);
    background: -linear-gradient(to right, #535878, #9db0ce, #b8d8e3, #e9c2c5, #cea0aa);
    color: #fff;
    transition: all 0.3s ease;
}
 */

.navbar__links:hover{
    color: #fff;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    
    .navbar__menu {
        background: #395886;
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #9db0ce;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 20px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #a1c4f5;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }

    #mobile_menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile_menu.is_active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile_menu.is_active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile_menu.is_active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

body {
    background-color: #f0f8ff;
}

/* home section */
.home_page {
    background-color: #f0f8ff;
    height: 950px;
}

#cloud1 {
    position: absolute;
    top: -30px;
    left: 220px;
    width: 380px;
    max-width: 800px;
}

#cloud2 {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 550px;
    max-width: 800px;
}

#cloud3 {
    position: absolute;
    top: 130px;
    left: -222px;
    width: 700px;
    max-width: 800px;
}

#cloud4 {
    transform: scaleX(-1);
    position: absolute;
    top: 520px;
    left: 450px;
    width: 500px;
    max-width: 500px;
}

/* where the lil windows are placed */
.home__container {
    display: flex;
    height: 650px;
    position: relative;
    top: 150px;
    width: 60%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 auto;
}

/* the blue hello world window container */
.window1__container {
    display: flex;
    height: 300px;
    position: relative;
    top: 0px;
    left: 0px;
    width: 44%;
    max-width: 1300px;
    z-index: 2;
}

#hello_world {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 1200px;
}

/* the pink window container */
.window2__container {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 60%;
    max-width: 1300px;
    z-index: 1;
}

#pink {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    max-width: 1300px;
}

/* about me section */
.about_me_page {
    background-color: #f0f8ff;
}

.about_me__container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    top: 78px;
    width: 88%;
    height: 800px;
    /* max-width: 1300px; */
    margin: 0 auto;
    padding: 0 auto;
    z-index: 1;
}

#big_cloud {
    position: absolute;
    width: 100%;
    /* max-width: 1300px; */
}

#title {
    position: absolute;
    margin-top: 130px;
    height: 60px;
    max-height: 130px;
}

.about_me__content {
    position: relative;
    top:222px;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    padding: 0 auto;
}

p {
    position: relative;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.6;
}

.tab {
    display: inline-block;
    margin-left: 180px;
}

.my_pic__container {
    display: flex;
    height: auto;
    position: relative;
    bottom: 200px;
    left: 550px;
    width: 35%;
    height: 300px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 auto;
    z-index: 2;
}

#me {
    position: absolute;
    width: 100%;
    max-width: 800px;
}
/* 
.skills__container {
    display: flex;
    height: auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 0px;
    width: 95%;
    height: 300px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 auto;
}

#long_cloud {
    position: absolute;
    bottom: 100px;
    width: 100%;
    max-width: 1300px;
    z-index: 1;
}
 
.skills{
    position: absolute;
    display: flex;
    justify-content: center;
    list-style: None;
    bottom: 122px;
    z-index: 2;
}

.skills__items {
    margin: 0 50px;
}
*/

/* TODO: animation & decorations */
/* .skills_pic {
    height: 100px;
    max-width: 200px;
    text-align: center;
    border-radius: 20px; */
    /* background: #ffffff; */
    /* box-shadow: 13px 13px 22px #dedede, -13px -13px 22px #ffffff; */
/* } */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  } */


/* experience section */
.experience_page {
    background-color: #f0f8ff;
    align-items: center;
    justify-items: center;
}

.experience_page__title {
    height: 130px;
    text-align: center;
    margin-bottom: 50px;
}

#experience_header {
    height: 40%;
    margin-top: 30px;
}

.experience__container {
    width: 70%;
    /* height: 200px; */
    height: auto;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
}

.years {
    padding-top: 15px;
    width: 150px;
}

#year {
    color: #535878;
}

.experience_items {
    margin-left: 100px;
    padding: 15px 50px;
    /* padding-left: 50px; */
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 50px;
}

#position {
    color: #535878;
    padding: 5px 0px;
}

#company {
    color: #535878;
    padding-top: 5px;
}

#period {
    color: #535878;
    padding-top: 2px;
}

#description {
    color: #6D7080;
    font-size: 15px;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* projects page */
.projects_page {
    margin-top: 130px;
    background-color: #f0f8ff;
}

.page__title {
    /* background-color: white; */
    height: 130px;
    text-align: center;
    /* background-color: #395886; */
}

#projects_header {
    height: 40%;
    margin-top: 30px;
}

.projects__container {
    /* background-color: #535878; */
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* width: 1000px; */
    width: 80%;
    height: 500px;
    top: 0px;
    /* max-width: 1300px; */
    margin: 0 auto;
    padding: 0 auto;
}
 
.projects{
    position: absolute;
    display: flex;
    justify-content: center;
    list-style: None;
}

/* animation TODO: when hover over, shades appear */
.project__items {
    margin: 0 50px;
}

.project_frame {
    width: 400px;
    /* shadow */
    /* filter: drop-shadow(12px 8px 4px #9db0ce); */
}


/* contact page */
.contact_page {
    background-color: #f0f8ff;
    flex-direction: column;
    align-items: center;
    display: flex;
}


.contact_page__title {
    height: 130px;
    text-align: center;
}

#contact_header {
    height: 40%;
    margin-top: 30px;
}

.contact__container {
    background-color: white;
    height: 770px;
    width: 48%;
    margin-bottom: 35px;
    border-radius: 80px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
}

p {
    text-align: left;
    padding-top: 22px;
    font-size: 25px;
    color: #535878;
}

form input, form textarea {
    border: 2.5px;
    border-color: #535878;
    border-style: solid;
    border-radius: 13px;
    padding: 13px;
    outline: None;
    font-size: 22px;
    margin-top: 13px;
}

form textarea {
    border: 2.5px solid #535878;
    border-radius: 13px;
    padding: 13px;
    outline: none;
    font-size: 22px;
    margin-top: 13px;
}

form button {
    width: 130px;
    height: 55px;
    cursor: pointer;
    margin: 22px auto 0;
    background-color: #9db0ce;
    color: white;
    font-size: 28px;
    border-radius: 15px;
    border: none;
}