/*
Color palette:
navbar: #9db0ce
background: #f0f8ff
fonts: #535878
clouds: #fff
pink stuff (from dark to light): #cea0aa, #e9c2c5, #fee1dd
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'etna', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: #9db0ce;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 auto;
}

/* hashtags # reference to id */
#navbar__logo{
    background-color: #80a0ce;
    background-image: linear-gradient(to top, #4d668a 0%, #a1c4f5 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: None;
}

.navbar__item{
    height: 100px;
}

.navbar__links{
    color: #535878;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

/* below is for buttons in the future
.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: None;
    outline: None;
    border-radius: 4px;
    background: #80a0ce;
    background: -webkit-linear-gradient(to right, #535878, #9db0ce, #b8d8e3, #e9c2c5, #cea0aa);
    background: -linear-gradient(to right, #535878, #9db0ce, #b8d8e3, #e9c2c5, #cea0aa);
    color: #fff;
    transition: all 0.3s ease;
}
 */

.navbar__links:hover{
    color: #fff;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    
    .navbar__menu {
        background: #395886;
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #9db0ce;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 20px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #a1c4f5;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile_menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile_menu.is_active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile_menu.is_active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile_menu.is_active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

body {
    background-color: #f0f8ff;
}

/* hero section */
.home_page {
    background-color: #f0f8ff;
}

.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    padding: 200px;
}

#cloud1 {
    position: absolute;
    top: -13px;
    left: 220px;
    width: 380px;
    max-width: 800px;
    margin-top: 32px;
}

#cloud2 {
    position: absolute;
    top: 5px;
    right: -8px;
    width: 600px;
    max-width: 800px;
    margin-top: 32px;
}

#cloud3 {
    position: absolute;
    top: 100px;
    left: -180px;
    width: 700px;
    max-width: 800px;
    margin-top: 32px;
}

#cloud4 {
    transform: scaleX(-1);
    position: absolute;
    top: 520px;
    left: 500px;
    width: 450px;
    max-width: 500px;
    margin-top: 32px;
}

#hello_world {
    position: absolute;
    top: 50px;
    left: 380px;
    width: 500px;
    max-width: 1200px;
    margin-top: 32px;
}

#pink {
    position: absolute;
    top: 220px;
    right: 380px;
    width: 600px;
    max-width: 1200px;
    margin-top: 32px;
}

.about_me_page {
    background-color: #f0f8ff;
}

.about_me__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    padding: 200px;
}

#me {
    position: absolute;
    top: 1500px;
    right: 0px;
    width: 600px;
    max-width: 800px;
}

#big_cloud {
    position: absolute;
    margin-top: 1500px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#long_cloud {
    position: absolute;
    margin-top: 3000px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* .skills__container{
    display: flex;
    justify-content: space-between;
    height: 10px;
    z-index: 1;
    width: 10%;
    max-width: 13px;
    margin: 0 auto;
    padding: 0 auto;
}

.skills{
    width: 30px;
    display: flex;
    align-items: center;
    list-style: None;
}

.skills__items {
    height: 50px;
    width: 30px;
    max-width: 50px;
} */